*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    /*LIGHT*/
    --light-bg-color: #ddd;
    --light-text-color: #111;
    --light-primary-color: #044;
    --light-secondary-color: #066;
    --light-brightness: 100%;
    /*DARK*/
    --dark-bg-color: #212;
    --dark-text-color: #ddd;
    --dark-primary-color: #044;
    --dark-secondary-color: #066;
    --dark-brightness: 150%;
}
@media (prefers-color-scheme: light){
    :root{
        --bg-color: var(--light-bg-color);
        --text-color: var(--light-text-color);
        --primary-color: var(--light-primary-color);
        --secondary-color: var(--light-secondary-color);
        --toastify-color-success: var(--light-primary-color) !important;
        --toastify-color-error: #fd6584 !important;
        --brightness: var(--light-brightness)
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --bg-color: var(--dark-bg-color);
        --text-color: var(--dark-text-color);
        --primary-color: var(--dark-primary-color);
        --secondary-color: var(--dark-secondary-color);
        --toastify-color-success: var(--dark-primary-color) !important;
        --toastify-color-error: #fd6584 !important;
        --brightness: var(--dark-brightness)
    }
}
/* SELECTION*/
*::selection{
    background-color: var(--text-color);
    color: var(--bg-color);
}
/*SCROLLBAR*/
::-webkit-scrollbar{
    width: .7rem;
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(180deg, var(--secondary-color), var(--primary-color) 20%, var(--primary-color) 80%, var(--secondary-color));
    /* border: 2px solid var(--secondary-color); */
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(180deg, var(--secondary-color), var(--primary-color) 20%, var(--secondary-color), var(--primary-color) 80%, var(--secondary-color));
}

input[type="text"], input[type="password"], select{
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    height: 2rem;
    width: 20rem;
    max-width: 80vw;
    padding-left: 1rem;
    outline: none;
}
select+label{
    display: none;
}
select option:checked {
    background: var(--primary-color);
    color: #ddd;
}
option:hover{
    background: var(--primary-color);
    color: #ddd;
}
select{
    padding-left: 1.5em;
    font-size: 1em;
    position: relative;
}
select::-webkit-scrollbar{
    display: none;
}
div:has(input[type="text"], input[type="password"]){
    position: relative;
}
div:has(input[type="text"], input[type="password"]) label{
    position: absolute;
    inset: 0.3em 1em;
    pointer-events: none;
    transition: .3s ease-in-out;
    width: fit-content;
    border-radius: 25px;
    padding-right: 1em;
    padding-left: 1em;
    color: #111;
}
input[type="text"]:focus + label, input[type="text"]:not(:placeholder-shown) + label,
input[type="password"]:focus + label, input[type="password"]:not(:placeholder-shown) + label {
    translate: -.5rem -1.8rem;
    color: var(--primary-color);
    font-weight: bolder;
    filter:brightness(var(--brightness));
}
.eye{
    color: var(--primary-color);
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    translate: -1em -50% ;
}
a{
    text-decoration: none;
    color: var(--text-color);
    transition: .5s ease;
    position: relative;
    font-size:larger;
}
a:hover{
    color: var(--primary-color);
}
a:not(:has(button, img, .card))::before{
    content: "";
    position: absolute;
    width: 0;
    height: .1rem;
    bottom: 0;
    background: var(--primary-color);
    transition: 1s ease;
}
a:hover::before{
    width: 100%;
}
.active{
    pointer-events: none;
    position: relative;
}
.active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: .1rem;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
}
ul{
    list-style: none;
}
button{
    background: var(--primary-color);
    border-radius: 25px;
    color: #fff;
    transition: .5s ease;
    border: var(--primary-color) .2rem solid;
    box-shadow: 4px 4px 4px #33333333;
    cursor: pointer;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
button:hover{
    background-color: #00000010;
    color: var(--primary-color);
}
button:active{
    scale: .95;
}
body{
    min-height: 100vh;
    max-width: calc(100vw-.7rem);
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
    transition: 1s ease;
}
body::before{
    content: '';
    height: 90vh;
    width: 98vw;
    right: 2vw;
    position: fixed;
    z-index: -1;
    background: linear-gradient(225deg, transparent, var(--primary-color) );
    border-radius: 20% 30% 250% 20%;
}
.acent{
    color: var(--primary-color);
    filter:brightness(var(--brightness));
    font-style: italic;
}

/*HEADER*/

header{
    max-width: 1350px;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}
header>a{
    display: flex;
    align-items: center;
    height: 100%;
}
header>a>img{
    height: 100%;
}
nav>ul, footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav>ul>li>button{
    padding: .5rem;
}
nav>ul>li>button>img{
    height: 2em;
}
/*Burguer Menu*/
.burguer{
    display:none;
    z-index: 4;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    height: 2.5rem;
    width: 3rem;
}
.burguer>span{
    width: 3rem;
    height: .5rem;
    background: #fff;
    border-radius: 5px;
    display: block;
    position: absolute;
    transition: 1s ease-in-out;
    box-shadow: 1px 1px 1px var(--primary-color);
}
.burguer>span:nth-child(2){
    top: 1rem;
}
.burguer>span:last-child{
    top: 2rem;
}
.burguerTop{
    transform: translateY(1rem) rotate(135deg);
}
.burguerMiddle{
    transform: rotate(45deg);
}
.burguerBottom{
    transform: translateY(-1rem) rotate(-135deg);
}
/*MAIN*/

main{
    min-height: 76vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em;
    max-width: 1350px;
    max-width: 90vw;
    margin: 0 auto;
}
main>section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 45em;
    max-width: 100%;
}
main>section>h1{
    max-width: 20rem;
    font-size: 3rem;
    animation: translateTop ease-in-out 3s;
}
main>section>h3{
    max-width: 20rem;
    line-height: 2rem;
    font-style: italic;
    font-weight: 500;
    animation: translateLeft ease-in-out 3s;
}
main>section>a>button{
    padding: .5rem;
    padding-left: 5rem;
    padding-right: 4rem;
    align-self: flex-start;
    font-size: 1.5rem;
    gap: 1rem;
    animation: translateBottom ease-in-out 2s;
}
main>aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
main>aside>h1{
    animation: translateLeft ease-in-out 3s;
}
main>aside>.carousel{
    height: 100%;
    flex-grow: 1;
}
    /*CAROUSEL*/
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.contentSlide{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
}
.contentSlide>div{
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
.arrow{
    width: 2em;
}
.selectors{
    display: flex;
    gap: .5rem;
    justify-content: center;
}
.grid{
    max-width: 60vw;
    height: 63vh;
    justify-content: center;
    display: grid;
    gap: .5em;
    grid-auto-columns: minmax(22vw, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    grid-template-areas: 
    "two one"
    "two three"
    "four four";
}
.grid>div:nth-child(1){
    grid-area: one;
    animation: translateTop ease-in-out 2s alternate ;
}
@keyframes translateTop {
    from { translate: 0em -1em; opacity: 0;}
    to { translate: 0; opacity: 1; }
}
.grid>div:nth-child(2){
    grid-area: two;
    animation: translateLeft ease-in-out 2s alternate ;
}
@keyframes translateLeft {
    from { translate: -3em 0em; opacity: 0}
    to { translate: 0; opacity: 1; }
}
.grid>div:nth-child(3){
    grid-area: three;
    animation: translateRight ease-in-out 2s alternate ;
}
@keyframes translateRight {
    from { translate: 3em 0em; opacity: 0}
    to { translate: 0; opacity: 1;}
}
.grid>div:nth-child(4){
    grid-area: four;
    animation: translateBottom ease-in-out 2s alternate ;
}
@keyframes translateBottom {
    from { translate: 0em 3em; opacity: 0}
    to { translate: 0; opacity: 1;}
}

.icon{
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #33333360);
    transition: .5s ease;
}
.icon:hover{
    scale: 1.5;
}
.icon:active{
    scale: .9;
}
.heroImg{
    height: 100%;
    width: 100%;
    background: var(--primary-color);
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #33333360;
    transition: .5s ease;
}

.heroImg::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #000, transparent 50%);
    z-index: 1;
    border-radius: 10px;
}
.heroImg>img{
    mix-blend-mode:luminosity;
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: relative;
    border-radius: 10px;
    transition: 1s;
}
.heroImg:hover>img{
    mix-blend-mode:normal;
}
.heroImg>h3, .heroImg>h5{
    color: #ddd;
    position: absolute;
    bottom: 1.5em;
    right: 50%;
    translate: 50% -50%;
    z-index: 2;
    filter: drop-shadow(2px 2px 2px #000);
    text-align: center;
}
.heroImg>h5{
    bottom: .5em;
}


/*CARD*/
.citiesMain{
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    justify-content: flex-start;
}
.citiesMain aside{
    min-height: 0;
}

.citiesMain>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

a:has(.card){
    transition: .1s ease-in-out;
}

a:has(.card):hover{
    color: #bbb;
    text-shadow: 4px 4px 4px #111;
}

.card{
    height: 25rem;
    width: 20rem;
    background: var(--primary-color);
    color: var(--bg-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px 4px #33333333;
    overflow: hidden;
    transition: .3s ease-in-out;
}
.card:hover{
    color: #ddd;
    box-shadow: 4px 4px 14px var(--primary-color);
}
.card div:first-child{
    height: 60%;
    width: 100%;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    transition: 1s ease;
}
.card div:has(p){
    height: 40%;
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: var(--primary-color);
}
.card:hover div:first-child{
    scale: 1.3;
}
.card p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 1rem;
        /* display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

/*DETAILS*/
.details{
    max-width: 1350px;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 2rem;
    padding-top: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
    border-radius: 25px;
    gap: 1rem;
}
.details>div:first-child{
    width: 100%;
    height: 60vh;
    border-radius: 25px 25px 0 0;
    background-size:cover;
    background-attachment: fixed;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #ddd;
    text-shadow: 4px 4px 8px #222;
    text-align: center;
}
.details>div>h1{
    text-shadow: 3px 3px 0px #ddd;
}
.details>span{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .5rem;
    font-size:22px;
    font-weight: 500;
    text-align: center;
}
.details>p{
    max-width: 90%;
    font-size: 20px;
    line-height: 150%;
    word-spacing: 4px;

}
.details>div:nth-child(4){
    width: 100%;
    height: 30vh;
    border-radius: 0 0 25px 25px;
    background-size:cover;
    background-attachment: fixed;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #ddd;
    text-shadow: 4px 4px 8px #222;
    text-align: center;
}
.details button{
    width: 20rem;
    padding: .5rem;
    text-align: center;
    font-size: x-large;
    backdrop-filter: blur(150px);
}
/*ITINERARIES*/
.itineraries{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}
.itinerary{
    background: var(--bg-color);
    box-shadow: 4px 4px 8px #33333333;
    border-radius: 50px;
    width: 35rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    gap: .5rem;
    padding-bottom: .5em;
}
.itinerary>div:first-child{
    height: 18rem;
    width: 100%;
    background-size: cover;
    border-radius: 50px 50px 0 0;
    transition: 1s ease;
    position: relative;
}
.like{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -.5rem;
    left: -.5rem;
    cursor: pointer;
    transition: .3s ease-in-out;
    user-select: none;
}
.like:hover{
    scale: 1.2;
}
.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.heart-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}
.heart:active{
    scale: .7;
}
.tags{
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: medium;
    overflow: hidden;
}
.tags>p{
    background: #aaaaaa90;
    backdrop-filter: blur(40px);
    padding: .2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 20px;
}
.collapse{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
}
.collapse>h5{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.author{
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: .5rem;
}
.author img{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    background:var(--primary-color);
    border: 2px var(--secondary-color) solid;
}
.expanded{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1rem;
    transition: 1s ease;
    overflow-x: hidden;
    height: 12em;
    flex-wrap: nowrap;
}
.expanded::-webkit-scrollbar{
    width: .3em;
}
.collapsed{
    opacity: 0;
    height: 0;
}
.view-more{
    display: flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 40%;
    min-width: 15rem;
    background: #ffffff40;
    border-bottom: solid 2px var(--secondary-color);
    border-right: solid 2px var(--secondary-color);
    gap: 2rem;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    padding: .2rem;
    height: 2.5rem;
    padding-left: .2rem;
    color: var(--primary-color);
    transition: .1s ease;
}
.view-more:hover{
    background: #ffffff80;
}
.view-more:active{
    scale: .95;
    background: #cccccc40;
    border: solid 4px var(--secondary-color);
    border-bottom: solid .2px var(--secondary-color);
    border-right: solid .2px var(--secondary-color);
}
/*Activities*/
.activity{
    display: flex;
    gap: 1em;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
}
.activity h2{
    width: 40%;
}
.activity img{
    border-radius: 25px;
    box-shadow: 4px 4px 8px #33333333;
    width: 60%;
    object-fit: cover;
    object-position: center center;
}
/*COMMENTS*/
.commentsContainer{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
    gap: .5em;
    overflow: scroll;
    height: fit-content;
    max-height: 8em;
}
.commentsContainer::-webkit-scrollbar{
    width: .3em;
}
.commentsContainer::-webkit-scrollbar-corner{
    display: none;
}
.comment{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1em;
}
.comment>img{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background: var(--primary-color);
}
.comment>div:has(p){
    display: flex;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
}
div:has(.commentTextArea){
    position: relative;
}
.commentTextArea {
    border-radius: 5px 5px 3em 3em;
    resize:none ;
    border: none;
    background: #fff;
    padding: .5em;
    outline: 0px;
    text-transform: none;
    width: 95%;
}
.commentTextArea::-webkit-scrollbar{
    display: none;
}
.sendComment{
    position: absolute;
    z-index: 1;
    bottom: .5em;
    right: 1em;
    font-size: 2em;
    color: var(--primary-color);
    background: transparent;
    width: 1.5em;
    height: 1.5em;
}

/*FOOTER*/

footer{
    min-height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/*MEDIA QUERY*/

@media (max-width: 1024px) {
    body{
        padding: 0;
    }
    /*HEADER*/
    header{
        align-items: flex-start;
        height: 7.5rem;
        padding-top: .5rem;
        padding-bottom: 2em;
    }
    nav{
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--secondary-color);
        transition: 2s ease;
        border-radius: 0 0 250% 0;
        overflow: hidden;
    }
    .navHidden{
        height: 0;
    }
    .navShown{
        height: 100vh;
    }
    nav>ul{
        padding-top: 5em;
        flex-direction: column;
        transition: 3 ease;
    }
    nav a{
        color: #fff;
        font-weight: bolder;
        font-size: 3rem;
    }
    nav>ul>li>button{
        font-weight: bolder;
        font-size: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        gap: .1em;
        vertical-align: middle;
    }
    nav>ul>li>button>img{
        scale: .8;
    }
    .burguer{
        display: flex;
    }
    /*MAIN*/
    main{
        min-height: 75vh;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 4em;
        padding-left: 0;
    }
    main>section{
        align-items: center;
        width: auto;
    }
    .grid{
        max-width: none;
    }
    .heroImg>h3, .heroImg>h5{
        font-size: smaller;
    }
}
@media (max-width: 370px){
    header>a>h2{
        display: none;
    }
    .burguer{
        right: .2em;
    }
    nav a{
        font-size: 2em;
    }
    nav>ul>li>button{
        font-size: 2em;
        gap: .1em;
    }
    nav>ul>li>button>img{
        scale: .7;
    }
}
@media (max-height: 630px) {
    nav>ul{
        padding-top: 1em;
    }
    nav a{
        font-size: 1em;
    }
    nav>ul>li>button{
        font-size: 1em;
        gap: .1em;
    }
    nav>ul>li>button>img{
        scale: .5;
    }
}