*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (prefers-color-scheme: light){
    :root{
        --bg-color: #ddd;
        --text-color: #111;
        --primary-color: #044;
    }
}

@media (prefers-color-scheme: light){
    :root{
        --bg-color: #111;
        --text-color: #ddd;
        --primary-color: #0bb;
    }
}

body{
    min-height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

/*HEADER*/

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>div{
    display: flex;
    align-items: center;
    height: 100%;
}
header>div>img{
    height: 100%;
}
nav>ul, footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav>ul>li>a, footer a{
    text-decoration: none;
}
nav>ul>li>button{
    padding: .5rem;
}

/*MAIN*/

main{
    min-height: 82vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
}
main>section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
    max-width: 100%;
}
main>section>h1{
    max-width: 30rem;
    font-size: 3rem;
}
main>section>p{
    max-width: 30rem;
    line-height: 1.5rem;
}
main>section>button{
    padding: .5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    align-self: flex-start;
    font-size: 1.5rem;
}

/*CLASS COMPONENTS*/
.heroImg{
    max-width: 80%;
    height: 40rem;
    max-height: 80vh;
    object-fit:cover;
    border-radius: 25px;
    background: var(--primary-color);
}
.icon{
    cursor: pointer;
}

    /*Carousel*/
.slide{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 2rem;
}
.contentSlide{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.selectors{
    display: flex;
    gap: .5rem;
    justify-content: center;
}

/*FOOTER*/

footer{
    min-height: 8vh;
    text-align: center;
    padding: 1rem;
}

/*MEDIA QUERY*/

@media (max-width: 750px) {
    main{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}