*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (prefers-color-scheme: light){
    :root{
        --bg-color: #ddd;
        --text-color: #111;
        --primary-color: #044;
    }
}

@media (prefers-color-scheme: dark){
    :root{
        --bg-color: #111;
        --text-color: #ddd;
        --primary-color: #0bb;
    }
}
* svg path{
    fill: #fff;
}
* a{
    text-decoration: none;
    color: var(--text-color);
    transition: .5s ease;
}
* a:hover{
    color: var(--primary-color);
}
* ul{
    list-style: none;
}
button{
    background: var(--primary-color);
    border-radius: 25px;
    color: #fff;
    transition: .5s ease;
    border: var(--primary-color) .2rem solid;
    box-shadow: 4px 4px 4px #33333333;
    cursor: pointer;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: .5rem;
}
button:hover{
    background-color: #00000010;
    color: var(--primary-color);
}
button:active{
    scale: .95;
}
body{
    min-height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background: var(--bg-color);
    color: var(--text-color);
    position: relative;
}
body::before{
    content: '';
    height: 90vh;
    width: 98vw;
    right: 2vw;
    position: fixed;
    z-index: -1;
    background: linear-gradient(225deg, transparent, var(--primary-color) );
    border-radius: 20% 30% 250% 20%;
}
.acent{
    color: var(--primary-color);
    font-style: italic;
}

/*HEADER*/

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>a{
    display: flex;
    align-items: center;
    height: 100%;
}
header>a>img{
    height: 100%;
}
nav>ul, footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav>ul>li>button{
    padding: .5rem;
}

/*MAIN*/

main{
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
}
main>section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
    max-width: 100%;
}
main>section>h1{
    max-width: 20rem;
    font-size: 3rem;
    animation: translateTop ease-in-out 3s;

}
main>section>h3{
    max-width: 20rem;
    line-height: 2rem;
    font-style: italic;
    font-weight: 500;
    animation: translateLeft ease-in-out 3s;
}
main>section>a>button{
    padding: .5rem;
    padding-left: 5rem;
    padding-right: 4rem;
    align-self: flex-start;
    font-size: 1.5rem;
    gap: 1rem;
    animation: translateBottom ease-in-out 2s;
}
main>aside{
    height: 70vh;
    min-width: 50%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main>aside>h1{
    animation: translateLeft ease-in-out 3s;
}

/*CLASS COMPONENTS*/
.heroImg{
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #33333360;
    transition: .5s ease;
}
.heroImg::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #000, transparent 50%);
    z-index: 1;
    border-radius: 10px;
}
.heroImg>img{
    mix-blend-mode:luminosity;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    object-fit:cover;
    position: relative;
    border-radius: 10px;
    transition: 1s;
}
.heroImg:hover>img{
    mix-blend-mode: screen;
}
.heroImg>h3, .heroImg>h5{
    color: #ddd;
    position: absolute;
    bottom: 1.5em;
    right: 50%;
    translate: 50% -50%;
    z-index: 2;
    filter: drop-shadow(2px 2px 2px #000)
}
.heroImg>h5{
    bottom: .5em;
}
.grid{
    min-height: 70vh;
    padding: 1rem;
    display: grid;
    gap: .5rem;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "two one"
    "two three"
    "four four";
}
.grid>div:nth-child(1){
    grid-area: one;
    animation: translateTop ease-in-out 3s;
}
@keyframes translateTop {
    from { translate: 0em -1em; opacity: 0;}
    to { translate: 0; opacity: 1; }
}
.grid>div:nth-child(2){
    grid-area: two;
    animation: translateLeft ease-in-out 2.5s;
}
@keyframes translateLeft {
    from { translate: -3em 0em; opacity: 0}
    to { translate: 0; opacity: 1; }
}
.grid>div:nth-child(3){
    grid-area: three;
    animation: translateRight ease-in-out 2s;
}
@keyframes translateRight {
    from { translate: 3em 0em; opacity: 0}
    to { translate: 0; opacity: 1;}
}
.grid>div:nth-child(4){
    grid-area: four;
    animation: translateBottom ease-in-out 1s;
}
@keyframes translateBottom {
    from { translate: 0em 3em; opacity: 0}
    to { translate: 0; opacity: 1;}
}

.icon{
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #33333360);
    transition: .5s ease;
}
.icon:hover{
    scale: 1.1;
}

    /*Carousel*/
.slide{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    gap: 2rem;
}
.contentSlide{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.selectors{
    display: flex;
    gap: .5rem;
    justify-content: center;
}

/*FOOTER*/

footer{
    min-height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

/*MEDIA QUERY*/

@media (max-width: 750px) {
    header{
        flex-direction: column;
        height: 15vh;
        padding-bottom: 2em;
    }
    nav{
        flex-direction: column;
        width: 0;
    }
    main{
        min-height: 75vh;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 2rem;
    }
    main>section{
        align-items: center;
    }
    aside{
        min-height: 80vh;
    }
}